<ion-view view-title="CLASS SCHEDULE" hide-back-button="true" >
	<ion-nav-buttons side="right">
      <img src="img/role_student_icon.png" class="nav_bar_icon">
	</ion-nav-buttons>
    <ion-content class="padding">
	    <button class="button button-block button-royal icon-left ion-plus" ng-click="modal.show()">
		  Add Class
		</button>

		<button class="button button-block button-royal" ng-click="getClassTimetable(userId)">
		  Get class timetable
		</button>

		<div class="item item-divider">
	    	Sunday
	    </div>

	    <ion-list>
		    <ion-item ng-repeat="item in sundayList">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>
	    

	    <div class="item item-divider">
	    	Monday
	    </div>

	    <div class="item item-divider">
	    	Tuesday
	    </div>

	    <div class="item item-divider">
	    	Wednesday
	    </div>

	    <div class="item item-divider">
	    	Thursday
	    </div>

	    <div class="item item-divider">
	    	Friday
	    </div>

	    <div class="item item-divider">
	    	Saturday
	    </div>

		<div class="list">
            <div ng-repeat="classInfo in classInformation" class="item">
                {{todo.title}}
            </div>
        </div>

	</ion-content>
</ion-view>