<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Options</h1>
        <button class="button button-clear button-primary" ng-click="classItemOptionModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-click="editClass()" ng-tap="editClass()" align="center">
                Edit Class
            </ion-item>
            <ion-item ng-click="deleteClassFromFirebase()" ng-tap="deleteClassFromFirebase()" align="center">
                Delete Class
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>