<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit Task</h1>
        <button class="button button-clear button-primary" ng-click="editClassModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Task Name</span>
                <input ng-model="taskItem.taskName" type="text" value="taskItem.taskName">
            </label>
            <label class="item item-input">
                <span class="input-label">Task Description</span>
                <input ng-model="taskItem.taskDescription" type="text" value="taskItem.taskDescription">
            </label>
            
            <button class="button button-full button-positive" ng-click="updateTaskItem(taskItem)">Update Task</button>
        </div>
    </ion-content>
</ion-modal-view>