<ion-view view-title="CLASS SCHEDULE" hide-back-button="true" >
	<ion-nav-buttons side="right">
      <img src="img/role_student_icon.png" class="nav_bar_icon">
	</ion-nav-buttons>
    <ion-content class="padding">
	    <button class="button button-block button-royal icon-left ion-plus" ng-click="newClassModal.show()" ng-tap="newClassModal.show()">
		  Add Class
		</button>

		<button class="button button-block button-balanced" ng-click="goViewGroupList()" ng-show="showDoneBtn">
		  Done
		</button>

		<div class="item item-divider">
	    	Sunday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in sundayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>

		    </ion-item>
	    </ion-list>
	    

	    <div class="item item-divider">
	    	Monday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in mondayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>

	    <div class="item item-divider">
	    	Tuesday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in tuesdayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>

	    <div class="item item-divider">
	    	Wednesday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in wednesdayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>

	    <div class="item item-divider">
	    	Thursday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in thursdayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>

	    <div class="item item-divider">
	    	Friday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in fridayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>

	    <div class="item item-divider">
	    	Saturday
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in saturdayList" ng-click="editClassSchedule(item)" ng-tap="editClassSchedule(item)">
		    	<span>Class Name: {{ item.classNamed }}</span>
				<br/> 
		    	<span>Start time: {{ item.classStartTime }} - {{ item.classEndTime }}</span>
				<br/>  
				<span>Class Venue: {{ item.classVenue }}</span>
		    </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>