<ion-view view-title="TASK DETAILS">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="goBack()">
        Go Back
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-nav-buttons side="right">
          <img src="img/role_lecturer_icon.png" class="nav_bar_icon">
        </ion-nav-buttons>
        <div class="list card padding">
          <ul class="list">
            <li class="item">
              <strong>Task Name: </strong>
                      {{taskDetails.taskName}}
            </li>
            <li class="item item-text-wrap">
              <strong>Task Description: </strong><br>
                    {{taskDetails.taskDescription}}
            </li>
            <li class="item">
              <strong>Task Guidelines: </strong><br>
                <div class="card">
                  <div class="item item-text-wrap">
                    <span><strong>  Data Structure: </strong></span> <br>
                    {{taskDetails.taskGuideline.dataStructure}}
                    <br>
                    <span><strong>  Data Type: </strong></span><br>
                    {{taskDetails.taskGuideline.dataType}}
                    <br>
                    <span><strong>  Control Structure: </strong></span><br>
                    {{taskDetails.taskGuideline.controlStructure}}
                    <br>
                    <span><strong>  Arithmetic Expression: </strong></span><br>
                    {{taskDetails.taskGuideline.arithmeticExpression}}
                  </div>
                </div>
            </li>
          </ul>
            <button ng-click="editGuideline(taskDetails)" class="button button-block button-positive activated">
              Edit Guideline
            </button>
            <button ng-click="editTask(taskDetails)" class="button button-block button-positive activated">
              Edit Task
            </button>
            <button ng-click="deleteTaskFromFirebase(taskDetails)" class="button button-block button-positive activated">
              Delete Task
            </button>
        </div>
    </ion-content>
</ion-view>