<ion-view view-title="GROUP LIST" hide-back-button="true">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="goBack()">
        Go Back
      </button>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div class="item item-divider" align="center">
	    	{{taskName}}
	    </div>
		
	    <ion-list>
		    <ion-item ng-repeat="item in groupList" class="item-text-wrap">
		    	<span>{{item.groupName}}</span>
		    	<span class="badge badge-assertive">{{item.groupGrade}}</span>
		    </ion-item>
	    </ion-list>

    </ion-content>
</ion-view>