<ion-view view-title="Create Guideline">
	<ion-nav-buttons side="right">
      <img src="img/role_lecturer_icon.png" class="nav_bar_icon">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label"><strong>Keywords (eg: a,b,c,d): </strong></span>
                <input ng-model="tguidelines.keyword" type="text">
            </label>
            <label class="item item-input">
                <span><strong><u>Task Guidelines: </u></strong></span>
            </label>
            <label class="item item-input">
                <span class="input-label"><strong>Data Structure: </strong></span>
                <input ng-model="tguidelines.dataStructure" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong>Data Type: </strong></span>
                <input ng-model="tguidelines.dataType" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong>Control Structure: </strong></span>
                <input ng-model="tguidelines.controlStructure" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong>Arithmetic Expression: </strong></span>
                <textarea ng-model="tguidelines.arithmeticExpression" type="text"></textarea>
            </label>
            
            <button class="button button-full button-positive" ng-click="createGuideline(tguidelines)">Create Guideline</button>
        </div>
    </ion-content>
</ion-view>