<ion-view view-title="DISCUSSION">
    <ion-nav-buttons side="right">
      <img src="img/role_leader_icon.png" class="nav_bar_icon">
    </ion-nav-buttons>
    <ion-content class="padding">
    	<button class="button button-block button-royal" ng-click="loadAllMessage()" ng-tap="loadAllMessage()">
            LOAD ALL MESSAGE
        </button>
	    <ion-list>
		    <ion-item ng-repeat="item in chatMessageList" class=" item-text-wrap">
		    	<span><strong>{{item.fullName}}:</strong> {{ item.message }}</span>
		    </ion-item>
	    </ion-list>
	    <footer>
	    	<div class="list">
				<div class="item item-input-inset">
			    <label class="item-input-wrapper">
			    	<input type="text" placeholder="Message" ng-model="chat.message">
			    </label>
			    <button class="button button-small" ng-click="sendMessage(chat)" ng-tap="sendMessage(chat)">
			    	Send Message
			    </button>
			  </div>
			</div>
	    </footer>
	</ion-content>
</ion-view>
