<ion-view view-title="GROUP MEMBER LIST (Pending)" hide-back-button="true">
	<ion-nav-buttons side="right">
      <img src="img/role_student_icon.png" class="nav_bar_icon">
	</ion-nav-buttons>
    <ion-content class="padding">
    	<button class="button button-block button-balanced" ng-click="studentViewClassSchedule()">
		  Class Schedule
		</button>
		
		<div class="item item-divider">
	    	{{groupName}}
	    </div>
	    <ion-list>
		    <ion-item ng-repeat="item in userList">
		    	<span>{{ item.fullName }}</span>
		    </ion-item>
	    </ion-list>
	    
	    <button class="button button-block button-dark" ng-click="studentGoTimeline()">
		  Go To Timeline
		</button>
	</ion-content>
</ion-view>